{% extends 'base.html' %}

{% block content %}
<h1>{{profile_object.user}}</h1>
{% if profile_object.user.id == user.id %}
<p><a href="{% url 'edit_profile_page' profile_object.id %}">Edit profile</a></p>
{% else %}
<p></p>
{% endif %}


    <div class="card" style="width: 18rem;">
      <img src="{{profile_object.profile_pic.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile_object.username}}</h5>
            <p class="card-text">{{profile_object.bio}}</p>
          </div>
    </div>
{% endblock %}