{% extends 'base.html' %}

{% block title %}{{post.title_tag}}{% endblock %}


{% block content %}

    <h1>{{post.title}}</h1>
    <small>
        By: {{post.author.first_name}} {{post.author.last_name}} -
        {{post.post_date}}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">
                <small>(Edit)</small>
            </a>
            <a href="{% url 'delete_post' post.pk %}">
                <small>(Remove)</small>
            </a>
            {% endif %}
        {% endif %}
    </small>
    <br/>
    <hr>
    <br/>
    {{post.body|safe }}
    <br/><br/>
    <br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if liked == True %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">UnLike</button> - {{ post.total_likes }} Likes
        {% else %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">Like</button> - {{ post.total_likes }} Likes
        {% endif %}
    </form>
    <br>
    <a href="{% url 'index' %}" class="btn btn-light">Back</a>
    <br>
    <hr>
    {% if post.author.profile %}
    <div class="card" style="width: 18rem;">
      <img src="{{post.author.profile.profile_pic.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.author.username}}</h5>
            <p class="card-text">{{post.author.profile.bio}}</p>
            <a href="{% url 'show_profile_page' post.author.profile.id %}" class="btn btn-primary">Go to profile</a>
          </div>
    </div>
    {% else %}
    <div class="card" style="width: 18rem;">
<!--      <img src="{{post.author.profile.profile_pic.url}}" class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Post owner has no profile title.</h5>
            <p class="card-text">Post owner has no profile bio.</p>
          </div>
    </div>
    {% endif %}
    <hr>
    <h2>Comments</h2>
    {% if not post.comments.all %}
    No comments yet.
    <a href="{% url 'add_comment' post.id %}">Add comment</a>
    <br>
    {% else %}
        <br>
        <a href="{% url 'add_comment' post.id %}">Add comment</a>
        <br>
        {% for comment in post.comments.all %}
        <div class="card">
          <div class="card-body">
            {{comment.body}}
          </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <br>

{% endblock %}