{% extends 'base.html' %}

{% block title %}{{post.title_tag}}{% endblock %}


{% block content %}

    <h1>{{post.title}}</h1>
    <small>
        By: {{post.author.first_name}} {{post.author.last_name}} -
        {{post.post_date}}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">
                <small>(Edit)</small>
            </a>
            <a href="{% url 'delete_post' post.pk %}">
                <small>(Remove)</small>
            </a>
            {% endif %}
        {% endif %}
    </small>
    <br/>
    <hr>
    <br/>
    {{post.body|safe }}
    <br/><br/>
    <br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if liked == True %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">UnLike</button> - {{ post.total_likes }} Likes
        {% else %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">Like</button> - {{ post.total_likes }} Likes
        {% endif %}
    </form>
    <br>
    <a href="{% url 'index' %}" class="btn btn-light">Back</a>
    <hr>
    <br>
    {% if post.author.profile %}
    <div class="card" style="width: 18rem;">
      <img src="{{post.author.profile.profile_pic.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.author.username}}</h5>
            <p class="card-text">{{post.author.profile.bio}}</p>
            <a href="{% url 'show_profile_page' post.author.profile.id %}" class="btn btn-primary">Go to profile</a>
          </div>
    </div>
    {% endif %}
{% endblock %}