{% extends 'base.html' %}

{% block content %}
<h1>Post</h1>
<ul>
    {% for post in object_list reversed %}
        <li>
            <a href="{% url 'article_detail' post.pk %}">{{post.title}}</a>
            - {{post.author}} {{post.author.first_name}} {{post.author.last_name}} {{post.post_date}}
            <a href="{% url 'category' post.category %}">{{post.category}}</a><br/>

            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">
                <small>(Edit)</small>
            </a>
            <a href="{% url 'delete_post' post.pk %}">
                <small>(Remove)</small>
            </a>
            {% endif %}
            {% endif %}

            {{post.snippet|safe}}
        </li>
    {% endfor %}
</ul>

{% endblock %}