{% extends 'base.html' %}

{% block content %}
<h1>Post</h1>
<ul>
    {% for post in object_list reversed %}
        <li>
            <a href="{% url 'article_detail' post.pk %}">
            {{post.title}} - {{post.category}}
            </a>- {{post.author}} {{post.author.first_name}} {{post.author.last_name}} {{post.post_date}}<br/>
            {{post.body|slice:":100"|safe}}

            {% if user.is_authenticated %}
            {% if user == post.author %}
            <a href="{% url 'update_post' post.pk %}">
                <small>(Edit)</small>
            </a>
            <a href="{% url 'delete_post' post.pk %}">
                <small>(Remove)</small>
            </a>
            {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}