{% extends 'base.html' %}

{% block content %}
<h1>Category: {{category}}</h1>
    {% if data %}
        {% for user in data %}
            <img src="{{user.profile.profile_pic.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{post.author.username}}</h5>
                <p class="card-text">{{post.author.profile.bio}}</p>
                <a href="{% url 'show_profile_page' user.profile.id %}" class="btn btn-primary">Go to profile</a>
            </div>
        {% endfor %}
    {% else %}
        <h1>There is no results for searched {{search}} user.</h1>
    {% endif %}
{% endblock %}